@keyframes pulsate {
    0% {
        color: rgba(0, 0, 0, 0.3);
    }
    50% {
        color: rgba(0, 0, 0, 1);
    }
    100% {
        color: rgba(0, 0, 0, 0.3);
    }
}

.pulsating-icon {
    animation: pulsate 2s infinite;
    filter: brightness(1);
}
